*
{
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, rgba(59,50,44,1) 0%, rgba(78,97,81,1) 100%);
  flex-direction: column;
}
.Profile
{
  width: 500px;
  padding: 5vh;
  margin: 5vh;
  background-color: #3B322C;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

}
.Spinner
{
  margin: 5vh;
  
}
